In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [43]:
files = {}
for dirname,_,files_1 in os.walk(os.getcwd()):
    for file in files_1:
        if file.endswith(".dbf"):
            df = gpd.read_file(os.path.join(dirname,file))
            #df = df.dropna(axis=1)
            files[file[:-4]] = df

In [44]:
keys = [a for a in files.keys()]

In [45]:
keys

['01_EGRESADOS_CARATULA',
 '02_EGRESADOS_CAP100',
 '03_EGRESADOS_CAP200',
 '04_EGRESADOS_CAP300',
 '05_EGRESADOS_CAP300A',
 '06_EGRESADOS_CAP400_1',
 '06_EGRESADOS_CAP400_2',
 '07_EGRESADOS_CAP500',
 '08_EGRESADOS_CAP600',
 '09_UNIVERSIDADES_CARATULA',
 '10_UNIVERSIDADES_C7P700_1',
 '10_UNIVERSIDADES_C7P700_2',
 '14_UNIVERSIDADES_C9P900']

In [57]:
a = files[keys[0]]
a = a.loc[a.NOMBRECCDD.isin(["ICA","LIMA"])]
b = files[keys[4]]
print(keys[4])
merge = pd.merge(a[["SELECT","NOMBRECCPP","GENERO"]],
                 b,on="SELECT")

merge.groupby(["NOMBRECCPP","GENERO"]).agg({
               "F_EXPANS":["size","mean"]})

05_EGRESADOS_CAP300A

                  F_EXPANS
                      size       mean
NOMBRECCPP GENERO
BARRANCA   1             2  14.120000
           2             5  27.798000
CA¥ETE     1             2  11.180000
           2             6  19.521667
CAÇ'ETE    2             2   2.170000
CHINCHA    1             5  12.120000
           2             5   9.136000
HUARAL     1             2  24.170000
HUAURA     1            11  20.040000
           2            16  20.190000
ICA        1            25  22.446800
           2            56  23.236786
LIMA       1           368  23.385571
           2           564  22.522216
NAZCA      2             1  17.280000
PISCO      1             4  22.710000
           2             3  16.503333

In [63]:
merge.CAP300AP_C

0       3
1       2
2       2
3       4
4       1
       ..
1072    1
1073    3
1074    3
1075    3
1076    3
Name: CAP300AP_C, Length: 1077, dtype: int64

In [58]:
merge.columns

Index(['SELECT', 'NOMBRECCPP', 'GENERO', 'CAP300AP34', 'CAP300AP_A',
       'CAP300AP_B', 'CAP300AP_C', 'CAP300AP_D', 'CAP300AP_E', 'F_EXPANS',
       'geometry'],
      dtype='object')

In [50]:
files[keys[0]].columns

Index(['SELECT', 'CULMEST', 'MINEDAD', 'CCDD', 'NOMBRECCDD', 'CCPP',
       'NOMBRECCPP', 'CCDI', 'NOMBRECCDI', 'NOMBRECCCP', 'GENERO', 'CCDD_NAC',
       'DEP_NAC', 'CCPP_NAC', 'PROV_NAC', 'CCDI_NAC', 'DIST_NAC', 'RESULT_FEC',
       'RESULT_HOR', 'RESULT_FIN', 'RESULT_F_A', 'F_EXPANS', 'geometry'],
      dtype='object')

In [51]:
b

       SELECT  CAP200P201  CAP200P202  CAP200P204  CAP200P205  CAP200P2_A  \
0           1           1         1.0         1.0         6.0           1
1           2           2         NaN         NaN         NaN           1
2           3           1         1.0         1.0         4.0           1
3           5           1         1.0         2.0         5.0           1
4           6           1         1.0         1.0         6.0           1
...       ...         ...         ...         ...         ...         ...
10559   10645           1         1.0         1.0         5.0           1
10560   10646           1         1.0         1.0         6.0           1
10561   10647           1         1.0         1.0         4.0           1
10562   10648           1         1.0         1.0         4.0           1
10563   10649           1         1.0         1.0         5.0           1

       CAP200P2_B  CAP200P2_C  CAP200P2_D  F_EXPANS geometry
0             2.0         1.0         6.0     14.35     None
1             2.0         1.0         6.0     19.14     None
2             2.0         1.0         3.0     11.25     None
3             2.0         2.0         4.0     16.13     None
4             2.0         1.0         1.0     25.90     None
...           ...         ...         ...       ...      ...
10559         2.0         1.0         4.0     44.86     None
10560         2.0         1.0         4.0     44.86     None
10561         2.0         1.0         5.0      1.47     None
10562         2.0         1.0         4.0      1.29     None
10563         2.0         1.0         4.0     28.44     None

[10564 rows x 11 columns]